/* CSS RESET */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Normal Styling */
body {}

strong {
font-weight:bold;
}

h1{
	font-size:20px;
	font-weight:bold;
}

.file-details {
	color:#ABABAB;
	font-size:11px;
	margin:5px 0 0 0;
	height:20px;
	padding:5px;
}

p {
	font-size:12px;
}

.download-set {}

.box {
	float: left;
}

#container {}

.masonry {
	margin:0;
}
.photo {}
.photo:hover {
	opacity:0.45;
}
.photo a:hover {}

.download-text {
	background:url('download.gif') center center no-repeat;
	margin:0;padding:0;
}

/* Image Rounded Corners */
.rounded_corner {
	-webkit-border-radius: 4px 4px 0 0;
	-khtml-border-radius: 4px 4px 0 0;	
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

/* Download button */
.download-button-wrapper {
	margin-top:10px;
	text-align:center;
}
.download-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	padding:7px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.download-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.download-button:active {
	position:relative;
	top:1px;
}

/* Drop Shadow */
.drop-shadow {
	position:relative;
	float:left;
	width:40%;   
	padding:0.4em;
	margin:1em;
	background:#fff;
	-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 1px 3px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.drop-shadow:before,
.drop-shadow:after {
	content:"";
	position:absolute;
	z-index:-2;
}

.lifted{
	-moz-border-radius:4px;
	border-radius:4px;
}

.lifted:before,
.lifted:after {
	bottom:15px;
	left:10px;
	width:50%;
	height:20%;
	max-width:400px;
	-webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);  
	-moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
	box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
	-webkit-transform:rotate(-3deg);   
	-moz-transform:rotate(-3deg);  
	-ms-transform:rotate(-3deg);  
	-o-transform:rotate(-3deg);
	transform:rotate(-3deg);
}

.lifted:after {
	right:10px;
	left:auto;
	-webkit-transform:rotate(3deg);  
	-moz-transform:rotate(3deg); 
	-ms-transform:rotate(3deg); 
	-o-transform:rotate(3deg);
	transform:rotate(3deg);
}


.lifted:hover:after {
	right:10px;
	left:auto;
	-webkit-transform:rotate(3deg);  
	-moz-transform:rotate(3deg); 
	-ms-transform:rotate(3deg); 
	-o-transform:rotate(3deg);
	transform:rotate(3deg);
}

/* Advanced Information */
.image_info {
float:left;
position:relative;
margin:0px;
padding:0;
width:95px;
}

/* Footer Credits */
.credits {
	opacity:0.5;
	font-size:8px;
	text-align:center;
	margin-top:20px;
}

/* Upload Page */
.upload_page_colors {
    background-color: #999999;
    background-image: -webkit-linear-gradient(0, rgba(255,255,255,.07) 50%, transparent 50%), -webkit-linear-gradient(0, rgba(255,255,255,.13) 50%, transparent 50%), -webkit-linear-gradient(0, transparent 50%, rgba(255,255,255,.17) 50%), -webkit-linear-gradient(0, transparent 50%, rgba(255,255,255,.19) 50%);
    background-image: -moz-linear-gradient(0, rgba(255,255,255,.07) 50%, transparent 50%), -moz-linear-gradient(0, rgba(255,255,255,.13) 50%, transparent 50%), -moz-linear-gradient(0, transparent 50%, rgba(255,255,255,.17) 50%), -moz-linear-gradient(0, transparent 50%, rgba(255,255,255,.19) 50%);
    background-image: -o-linear-gradient(0, rgba(255,255,255,.07) 50%, transparent 50%), -o-linear-gradient(0, rgba(255,255,255,.13) 50%, transparent 50%), -o-linear-gradient(0, transparent 50%, rgba(255,255,255,.17) 50%), -o-linear-gradient(0, transparent 50%, rgba(255,255,255,.19) 50%);
    background-image: linear-gradient(0, rgba(255,255,255,.07) 50%, transparent 50%), linear-gradient(0, rgba(255,255,255,.13) 50%, transparent 50%), linear-gradient(0, transparent 50%, rgba(255,255,255,.17) 50%), linear-gradient(0, transparent 50%, rgba(255,255,255,.19) 50%);
}
 
.upload_page {
    background-size: 13px, 29px, 37px, 53px;
}

}
.login_wrapper{
	float:left;
	margin:0 auto;
	padding:0 auto;
	width:400px;
	text-align:center;
}
#mainbody {
	background:#ffffff;
	margin:20px;
	padding:12px 15px 20px 15px;
	width:400px;
	float:left;
}
.error{
	color:#990000;
}

.uploadifyButton {
	background-color: #505050;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #FFF;
	font: 12px Arial, Helvetica, sans-serif;
	padding: 8px 0;
	text-align: center;
	width: 100%;
}
.uploadify:hover .uploadifyButton {
	background-color: #808080;
}
.uploadifyQueueItem {
	background-color: #F5F5F5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font: 11px Verdana, Geneva, sans-serif;
	margin-top: 5px;
	max-width: 350px;
	padding: 10px;
}
.uploadifyError {
	background-color: #FDE5DD !important;
}
.uploadifyQueueItem .cancel {
	float: right;
}
.uploadifyQueue .completed {
	background-color: #E5E5E5;
}
.uploadifyProgress {
	background-color: #E5E5E5;
	margin-top: 10px;
	width: 100%;
}
.uploadifyProgressBar {
	background-color: #0099FF;
	height: 3px;
	width: 1px;
}

#custom-demo .uploadifyQueueItem {
	background-color: #FFFFFF;
	border: none;
	border-bottom: 1px solid #E5E5E5;
	font: 11px Verdana, Geneva, sans-serif;
	height: 50px;
	margin-top: 0;
	padding: 10px;
	width: 350px;
}
#custom-demo .uploadifyError {
	background-color: #FDE5DD !important;
	border: none !important;
	border-bottom: 1px solid #FBCBBC !important;
}
#custom-demo .uploadifyQueueItem .cancel {
	float: right;
}
#custom-demo .uploadifyQueue .completed {
	color: #C5C5C5;
}
#custom-demo .uploadifyProgress {
	background-color: #E5E5E5;
	margin-top: 10px;
	width: 100%;
}
#custom-demo .uploadifyProgressBar {
	background-color: #0099FF;
	height: 3px;
	width: 1px;
}
#custom-demo #custom-queue {
	border: 1px solid #E5E5E5;
	height: 213px;
	margin-bottom: 10px;
	width: 370px;
}
